@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
  font-family: 'Comfortaa', cursive;
}
hr{
  color: black;
  width: 100%;
}
.top-panel{
  background-color: #EF6937;
  color: white;
  height: 3em;
  padding: 0.5em;
}
/*----------Navbar---------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  float: left;
}
a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}
/*--------Create meeting-------------*/
.page-layout{
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page-container{
  display: flex;
  width: 85%;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}
span{
  display: flex;
  justify-content: space-between;
  column-gap: 4em;
  align-items: center;
}
.create-meeting{
  display: flex;
  align-self: center;
  flex-direction: column;
  row-gap: 1em;
  border: solid #d3d3d3 1px;
  box-shadow: 1px 1px 25px #e2e2e2;
  padding: 2.5% 13% 2.5% 13%;
}
.create-meeting input, select{
  all: none;
  z-index: 1;
  background-color: #ecebeb;
  border: none;
  border-bottom: 3px solid rgb(139, 139, 139);
  padding: 0.5em 1.5em 0.5em 1.5em;
}
form{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.create-meeting-divider{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.create-meeting-divider hr{
  height: 0.01px;
}
.create-meeting-employee-dropdown{
  z-index: 0;
  margin-top: -1.6em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  max-height: 150px;
  overflow: auto;
  background-color: #f2e3de;
  border-radius: 10px 5px 10px 10px;
}
.create-meeting-employee-dropdown-individual{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.create-meeting-employee-dropdown button{
  font-size: xx-small;
  width: auto;
}
.available-meetings-container{
  display: flex;
  align-items: center;
  align-self: center;
  /* flex-direction: row; */
  column-gap: 1em;
  overflow-y: auto;
  max-width: 520px;
  padding: 1em;
  width: 100%;
}
.available-meeting{
  background-color: #6cbac7;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #B8DED0;
}
.available-meeting .submit-btn{
  font-size: xx-small;
  padding: 1em;
}
.submit-btn{
  all: none;
  background-color: #EF6937;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  padding: 1em;
  width: 100px;
  align-self: center;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 20px #f8c6b4;
}

/*--------List of Meetings-------------*/

.list-of-meetings{
  padding: 2vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

table {
  border: 2px #EF6937;
  width: 800px;
  height: 200px;
}

th {
  background-color: #EF6937;
  color: #e2e2e2;
}

td {
  text-align: center;
  padding: 1em;
}

/*--------Login-------------*/
.logincard{
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 20px;
  align-content: center;
  align-items: center;

}